# Base URL
NEXT_PUBLIC_BASE_URL=https://hubsblog.netlify.app

# Domínios Permitidos
NEXT_PUBLIC_ALLOWED_DOMAINS=hubsblog.netlify.app

# Cloaker
NEXT_PUBLIC_CLOAKER_TRACKING_ENABLED=false

# Google Ads
NEXT_PUBLIC_GOOGLE_ADS_ENABLED=true
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-XXXXXXXXXX
NEXT_PUBLIC_GTAG_CONVERSION_COMPRA=XXXXXXXXXXX

# Gateway de Pagamento
PAYMENT_GATEWAY=ezzpag
EZZPAG_API_AUTH=SUA_AUTH_KEY
NITRO_API_KEY=SUA_KEY

# UTMify
NEXT_PUBLIC_UTMIFY_ENABLED=true
NEXT_PUBLIC_UTMIFY_ACCOUNT_ID=SEU_ACCOUNT_ID
NEXT_PUBLIC_UTMIFY_TEST_MODE=false

# Dados da Empresa
NEXT_PUBLIC_COMPANY_LEGAL_NAME=58.819.548 FATIMA APARECIDA SANTOS DE OLIVEIRA
NEXT_PUBLIC_COMPANY_CNPJ=58.819.548/0001-48
NEXT_PUBLIC_COMPANY_TRADE_NAME=DeltaForce

# Contato
NEXT_PUBLIC_COMPANY_EMAIL=afreenisiam876543@gmail.com
NEXT_PUBLIC_COMPANY_PHONE=(11) 8465-2222
NEXT_PUBLIC_COMPANY_PHONE_RAW=11984652222
NEXT_PUBLIC_COMPANY_WEBSITE=https://hubsblog.netlify.app

# Endereço
NEXT_PUBLIC_COMPANY_ADDRESS_STREET=R Xisto, 153 - Casa 1
NEXT_PUBLIC_COMPANY_ADDRESS_NEIGHBORHOOD=Parque Primavera
NEXT_PUBLIC_COMPANY_ADDRESS_CITY=Guarulhos
NEXT_PUBLIC_COMPANY_ADDRESS_STATE=SP
NEXT_PUBLIC_COMPANY_ADDRESS_ZIP=07.145-090

# Informações Adicionais
NEXT_PUBLIC_COMPANY_DESCRIPTION=Plataforma independente especializada em créditos digitais
NEXT_PUBLIC_COMPANY_BUSINESS_HOURS=Segunda a Sexta, das 9h às 18h
NEXT_PUBLIC_COMPANY_FOUNDED_YEAR=2025
